- name: Yum update
  become: true
  command: yum -y update
  when: ansible_os_family == "RedHat"

- name: Ensure required dependencies are installed
  ansible.builtin.yum:
    name:
      - yum-utils
      - device-mapper-persistent-data
      - lvm2
    state: present
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "10"

- name: Install kernel-modules-extra on RHEL 10
  dnf:
    name: "kernel-modules-extra-{{ ansible_kernel }}"
    state: present
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "10"

- name: Ensure br_netfilter module is loaded (RHEL 10 only)
  community.general.modprobe:
    name: br_netfilter
    state: present
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "10"

- name: Add Docker CE repository RHEL 8,9
  become: true
  command: yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
  when: ansible_os_family == "RedHat"

- name: Yum update
  become: true
  command: yum -y update
  when: ansible_os_family == "RedHat"

- name: Install Docker packages
  become: true
  ansible.builtin.yum:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
  when: ansible_os_family == "RedHat"

- name: Ensure containerd service is started
  ansible.builtin.service:
    name: containerd
    state: started
    enabled: yes
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "10"

- name: Start docker
  become: true
  service:
    name: docker
    state: started
    enabled: yes
  when: ansible_os_family == "RedHat"

- name: Install docker.io Deb
  become: true
  apt:
    name: docker.io
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install python3-pip
  become: true
  apt:
    name: python3-pip
    state: latest
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: run this on OSX type systems
  debug: msg="hello from osx"
  when: ansible_distribution == 'MacOSX'

- name: Install brew
  become: true
  command: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  when: ansible_os_family == "MacOSX"

- name: Install Docker
  become: true
  command: brew cask install docker
  when: ansible_os_family == "MacOSX"

- name: show docker version
  command: docker -v
  register: results
  when: ansible_os_family == "Debian" or ansible_os_family == "MacOSX"

- debug:
    var: results.stdout

- name: show docker binary location
  command: which docker
  register: results

- debug:
    var: results.stdout
