services:
  pg-primary:
    image: ${PG_IMAGE}
    container_name: ${PG_CONTAINER_NAME:-pg_primary}
    user: root
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      PGDATA: /data/db
      WITH_TDE: "${WITH_TDE:-0}"
      ENABLE_PG_TDE: "${WITH_TDE:-0}"
    volumes:
      - pgdata:/data/db
      - pg_socket:/var/run/postgresql
      - repo_data:/var/lib/pgbackrest
      - ./pgbackrest.conf:/etc/pgbackrest.conf:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    shm_size: "1g"
    command: >
      bash -ce '
      if [ "${WITH_TDE:-0}" = "1" ]; then
        export ARCH_CMD="TMPDIR=/tmp ${PG_BIN}/pg_tde_archive_decrypt %f %p \"pgbackrest --config=/etc/pgbackrest.conf --stanza=${PGBACKREST_STANZA_NAME:-main} archive-push %p\"";
      else
        export ARCH_CMD="pgbackrest --config=/etc/pgbackrest.conf --stanza=${PGBACKREST_STANZA_NAME:-main} archive-push %p";
      fi;

      exec /entrypoint.sh postgres \
        -c "wal_level=replica" \
        -c "max_wal_senders=4" \
        -c "archive_mode=on" \
        -c "archive_command=$$ARCH_CMD"
      '

  pgbackrest:
    image: ${PGBACKREST_IMAGE}
    container_name: ${PGBACKREST_CONTAINER_NAME:-pgbackrest}
    command: ["tail", "-f", "/dev/null"]
    environment:
      - PGBACKREST_STANZA=${PGBACKREST_STANZA_NAME:-main}
    volumes:
      # CRITICAL: Same volume and path as pg-primary
      - pgdata:/data/db
      - repo_data:/var/lib/pgbackrest
      - pg_socket:/var/run/postgresql
      - ./pgbackrest.conf:/etc/pgbackrest.conf:ro
    depends_on:
      - pg-primary

volumes:
  pgdata:
  repo_data:
  pg_socket:
