---
  - name: Run check tde tests
    shell: | 
      echo $VAULT_ADDR

      CLUSTER_INFO=$(mktemp)
      bao server -dev -dev-tls -dev-cluster-json="$CLUSTER_INFO" > /dev/null &
      sleep 10
      export VAULT_ROOT_TOKEN_FILE=$(mktemp)
      jq -r .root_token "$CLUSTER_INFO" > "$VAULT_ROOT_TOKEN_FILE"
      export VAULT_CACERT=$(jq -r .ca_cert_path "$CLUSTER_INFO")
      rm "$CLUSTER_INFO"

      ## We need to enable key/value version 1 engine for just for tests
      bao secrets enable -path=kv-v1 -version=1 kv

      ## Create a test namespace for the tests to test namespace support
      echo $VAULT_ADDR
      export VAULT_SKIP_VERIFY=true
      bao status
      bao namespace create "pgns"
      bao secrets enable -ns=pgns -path=secret -description="Production Secrets" kv-v2
      bao status

      export PGCTLTIMEOUT=120
      export PG_TEST_TIMEOUT_DEFAULT=300
      cd /tmp/pg_tde && make -s installcheck -k
    become_user: postgres
    args:
      executable: /bin/bash
      chdir: "/tmp/pg_tde"
    environment:
      PG_TEST_PORT_DIR: "/tmp/pg_tde"
      PGHOST: "/run/postgresql, /tmp"
      PGPORT: "5432"
      LANG: "C.UTF-8"
      LC_CTYPE: "C"
      LC_ALL: "C"
      PGCTLTIMEOUT: 120
      PG_TEST_TIMEOUT_DEFAULT: 300
    ignore_errors: yes
    register: regression

  - name: Show stdout of check tde tests
    debug:
      var: regression.stdout_lines

  - name: Show stderr if test fails
    debug:
      var: regression.stderr_lines
    when:
      - regression is defined
      - regression.rc != 0

  - name: Show tde regression diffs if tests failed
    shell: cat /tmp/pg_tde/regression.diffs
    register: diffs_output
    when:
      - regression is defined
      - regression.rc != 0
    ignore_errors: true

  - name: Print tde regression diffs
    debug:
      msg: "{{ diffs_output.stdout_lines }}"
    when:
      - regression is defined
      - regression.rc != 0
      - diffs_output is defined

  - name: Fail the playbook if tde tests failed
    fail:
      msg: "TDE regression tests failed with return code {{ regression.rc }}"
    when:
      - regression is defined
      - regression.rc != 0