---
- name: Configure repository
  include_tasks: ../../../tasks/install_percona_release.yml

- name: Setting facts so that they will be persisted in the fact cache
  ansible.builtin.set_fact:
    pg_version_to_install: "{{ lookup('env', 'FROM_VERSION') | replace('ppg-','') }}"
    upgrade_to_pg_version: "{{ lookup('env', 'VERSION') | replace('ppg-','') }}"

- name: End play on Ubuntu 24
  meta: end_play
  when: ansible_distribution == "Ubuntu" and
   ansible_distribution_major_version == "24" and
   pg_version_to_install | string is version('16.2', '<=', strict=True)

- name: End play on Debian 13
  meta: end_play
  when: ansible_distribution == "Debian" and
   ansible_distribution_major_version == "13" and
   pg_version_to_install | string is version('16.11', '<=', strict=True)

- name: Setup initial (old) repository
  command: percona-release enable {{ pg_version }} {{ repo }}
  vars:
    repo: "{{ lookup('env', 'FROM_REPO') }}"
    pg_version: "{{ lookup('env', 'FROM_VERSION') }}"

- name: install Percona Platform for PostgreSQL 16 packages
  include_tasks: ../../../../tasks/install_ppg16.yml

- name: Initialize Postgres RHEL
  command: /usr/pgsql-16/bin/postgresql-16-setup initdb
  environment:
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  when: ansible_os_family == "RedHat"

- name: Install PPG tools
  include_tasks: ../../../../tasks/install_ppg16_tools.yml

- name: Start Postgres RHEL
  service:
    name: postgresql-16
    state: started
    enabled: true
  when: ansible_os_family == "RedHat"

- name: Start postgresql service for Debian based
  service:
    name: postgresql
    state: started
    enabled: true
  when: ansible_os_family == "Debian"

- name: Disable old repository
  command: percona-release disable {{ pg_version }} {{ repo }}
  vars:
    repo: "{{ lookup('env', 'FROM_REPO') }}"
    pg_version: "{{ lookup('env', 'FROM_VERSION') }}"

- name: Setup new repository
  command: percona-release enable {{ pg_version }} {{ repo }}
  vars:
    repo: "{{ lookup('env', 'TO_REPO') }}"
    pg_version: "{{ lookup('env', 'VERSION') }}"

- name: install Percona Platform for PostgreSQL deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
  vars:
    packages:
      - percona-postgresql
      - percona-postgresql-16
      - percona-postgresql-all
      - percona-postgresql-client
      - percona-postgresql-client-16
      - percona-postgresql-common
      - percona-postgresql-contrib
      - percona-postgresql-doc
      - percona-postgresql-doc-16
      - percona-postgresql-plperl-16
      - percona-postgresql-plpython3-16
      - percona-postgresql-pltcl-16
      - percona-postgresql-server-dev-16
      - percona-postgresql-common-dev
      - percona-postgresql-16-dbgsym
      - percona-postgresql-client-16-dbgsym
      - percona-postgresql-plperl-16-dbgsym
      - percona-postgresql-plpython3-16-dbgsym
      - percona-postgresql-pltcl-16-dbgsym
      - postgresql-client-common
      - postgresql-common

  when: ansible_os_family == "Debian"
  environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

- name: install Percona Platform for PostgreSQL deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
  vars:
    packages:
    - percona-postgresql-plpython3-16
    - percona-postgresql-plpython3-16-dbgsym
  when:
    - ansible_os_family == "Debian"

#Remove conflicting package to make installation move on
- name: Remove conflicting percona-postgresql-common-dev
  ansible.builtin.package:
    name: percona-postgresql-common-dev
    state: absent
  when: (ansible_os_family == "RedHat" and pg_version_to_install | string is version('16.9', '>=', strict=True))

- name: install Percona Platform for PostgreSQL rpm packages for RHEL
  yum:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
        - percona-postgresql-client-common
        - percona-postgresql-common
        - percona-postgresql16
        - percona-postgresql16-contrib
        - percona-postgresql16-debuginfo
        - percona-postgresql16-devel
        - percona-postgresql16-docs
        - percona-postgresql16-libs
        - percona-postgresql16-llvmjit
        - percona-postgresql16-plpython3
        - percona-postgresql16-plperl
        - percona-postgresql16-pltcl
        - percona-postgresql16-server
        - percona-postgresql16-test
        - percona-postgresql16-contrib-debuginfo
        - percona-postgresql16-debuginfo
        - percona-postgresql16-debugsource
        - percona-postgresql16-devel-debuginfo
        - percona-postgresql16-libs-debuginfo
        - percona-postgresql16-plperl-debuginfo
        - percona-postgresql16-pltcl-debuginfo
        - percona-postgresql16-plpython3-debuginfo
        - percona-postgresql16-server-debuginfo
  when: ansible_os_family == "RedHat"
  environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

- name: Determine required PostgreSQL dev package for RHEL
  set_fact:
    pg_dev_package: >-
      {{ 'percona-postgresql-server-dev-all'
         if (upgrade_to_pg_version | string is version('16.8', '<=', strict=True))
         else 'percona-postgresql-common-dev' }}
  when: ansible_os_family == "RedHat"

- name: Install PostgreSQL dev package on RHEL
  yum:
    name: "{{ pg_dev_package }}"
    state: latest
    update_cache: yes
  when: ansible_os_family == "RedHat"

- name: Stop postgresql service for RHEL based
  service:
    name: postgresql-16
    state: stopped
  when: ansible_os_family == "RedHat"

- name: Stop postgresql service for Debian based
  service:
    name: postgresql
    state: stopped
  when: ansible_os_family == "Debian"

- pause:
    minutes: 1

- name: Start postgresql service for RHEL based
  service:
    name: postgresql-16
    state: started
    enabled: true
  when: ansible_os_family == "RedHat"

- name: Start postgresql service for Debian based
  service:
    name: postgresql
    state: started
    enabled: true
  when: ansible_os_family == "Debian"

- name: Display ppg version
  become_user: postgres
  shell: psql -c "select version()"
  register: results

- debug:
      var: results.stdout
