---
- name: Set Facts
  set_fact:
    major_version: "{{ lookup('env', 'VERSION').split('.')[0].split('-')[1] }}"
    cacheable: true

- name: Configure repository
  include_tasks: ../../../../tasks/enable_repo.yml

- name: install additional packages for running tests with apt
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
  vars:
    packages:
      - make
      - gcc
      - pkg-config
      - apt-transport-https
      - ca-certificates
      - curl
      - lsb-release
      - libxml-checker-perl
      - libyaml-perl
      - texlive-latex-base
      - texlive-latex-extra
      - texlive-fonts-recommended
      - lcov
      - rsync
      - zlib1g-dev
      - libssl-dev
      - libxml2-dev
      - libpq-dev
      - valgrind
      - liblz4-dev
      - liblz4-tool
      - zstd
      - libzstd-dev
      - bzip2
      - libbz2-dev
      - libyaml-dev
      - meson
      - libz-dev
      - libyaml-dev
      - libssh2-1-dev
      - psmisc
  retries: 60
  delay: 10
  register: result
  until: result is not failed

- name: install Percona Platform for PostgreSQL deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
  vars:
    packages:
    - percona-postgresql
    - percona-postgresql-{{ major_version }}
    - percona-postgresql-all
    - percona-postgresql-client
    - percona-postgresql-client-{{ major_version }}
    - percona-postgresql-client-common
    - percona-postgresql-common
    - percona-postgresql-contrib
    - percona-postgresql-plperl-{{ major_version }}
    - percona-postgresql-plpython3-{{ major_version }}
    - percona-postgresql-pltcl-{{ major_version }}
    - percona-postgresql-server-dev-{{ major_version }}
    - percona-postgresql-server-dev-all
  environment:
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

- name: Clone pgbackrest sources
  become_user: postgres
  git:
    repo: "{{ repo }}"
    version: "{{ version }}"
    dest: /tmp/pgbackrest
  vars:
    repo: "{{ lookup('env', 'COMPONENT_REPO') }}"
    version: "{{ lookup('env', 'COMPONENT_VERSION') }}"

- name: Add user postgres to sudoers
  user:
    name: postgres
    groups: sudo
    append: yes

- name: Stop Postgres
  service:
    name: postgresql
    state: stopped
- name: Ensure Apache is stopped and port 80 is free
  ansible.builtin.service:
    name: apache2
    state: stopped
  become: true
  ignore_errors: true

- name: Set postgres user home directory to /home/postgres
  become: true
  ansible.builtin.user:
    name: postgres
    home: /home/postgres
    move_home: yes

- name: Ensure /home/postgres exists
  become: true
  ansible.builtin.file:
    path: /home/postgres
    state: directory
    owner: postgres
    group: postgres
    mode: "0755"

- name: Find process holding port 80
  ansible.builtin.shell: |
    # Find the PID using netstat or ss
    ss -lntp 'sport = :80' | grep -oP 'pid=\K\d+' || echo '0'
  become: true
  register: port_pid
  changed_when: port_pid.stdout != '0' # Only report changes if a PID was found

- name: Kill process if PID was found
  ansible.builtin.command: kill {{ port_pid.stdout }}
  become: true
  when: port_pid.stdout != '0'
  ignore_errors: true

- name: Make sure tcp port 80 is free
  ansible.builtin.shell:
    cmd: fuser -k 80/tcp
    warn: false
  become: true
  ignore_errors: true
  register: output

- name: Run pgbackrest regression
  become_user: postgres
  command: pgbackrest/test/test.pl --psql-bin=/usr/lib/postgresql/{{ major_version }}/bin \
    --no-valgrind --log-level-test-file=off --no-coverage-report \
    --module=command --module=storage --vm-out --vm=none --no-coverage --test-path /tmp
  args:
    chdir: "/tmp"
  ignore_errors: true
  register: regression

- name: Show stdout of regression tests
  debug:
    var: regression.stdout_lines

- name: Show stderr if regression test fails
  debug:
    var: regression.stderr_lines
  when:
    - regression is defined
    - regression.rc != 0

- name: Fail the playbook if regression failed
  fail:
    msg: "All regression tests failed with return code {{ regression.rc }}"
  when:
    - regression is defined
    - regression.rc != 0
