{% import '_shared.j2' as s %}
os_list: all
name_pattern: '{token}-{build}-{job}'
aws:
  size: large
  subnet: aws1
cleanup: per-family
verifier:
  testinfra:
    directory: ../../../tests/tests_meta_server
sequences:
  destroy:
  - destroy
  test:
  - destroy
  - create
  - prepare
  - converge
  - verify
  - cleanup
  - destroy
  cleanup:
  - cleanup
{{ s.os_overrides() -}}
